.card-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  //TEMPORAL HASTA QUE SE IMPLEMENTE
  max-width: 300px;

  .card {
    width: 100%;
    aspect-ratio: 5 / 7;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__footer {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    &__info {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__name {
      font-size: x-large;
      font-weight: bold;
    }

    &__set {
      width: fit-content;
    }
  }
}
