.sets {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
  padding: 2rem;

  .card-grid {
    width: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
  }
}
