html,
body,
app-root {
  font-family: 'Karla', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  color: var(--color-text-main);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

lucide-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
